<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773179554972-4g3gnp6kg1jjtsklq15dbfmc9g02ad0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773179554972-4g3gnp6kg1jjtsklq15dbfmc9g02ad0t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>773179554972-6t4m6rlt8ndsj7hccfahg9serju1a68j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_mVa2_1X6PO3P7UmITA_-q_issze40Ss</string>
	<key>GCM_SENDER_ID</key>
	<string>773179554972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BryceAlbertazzi.SneakerScanner</string>
	<key>PROJECT_ID</key>
	<string>sneaker-scanner-f77aa</string>
	<key>STORAGE_BUCKET</key>
	<string>sneaker-scanner-f77aa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:773179554972:ios:9d35d0a68bd311a53e0159</string>
	<key>DATABASE_URL</key>
	<string>https://sneaker-scanner-f77aa-default-rtdb.firebaseio.com</string>
</dict>
</plist>
